@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.t-red {
  color: #F56C6C;
}
.t-blue {
  color: #409eff;
}
.t-green {
  color: #67c23a;
}
.t-warning {
  color: #E6A23C;
}
.t-info {
  color: #606266;
}
.risk1 {
  color: #F56C6C;
}
.risk2 {
  color: #E6A23C;
}
.risk3 {
  color: #fdfd00;
}
.risk4 {
  color: #409eff;
}
.report-card-box {
  padding: 5px 0;
  .el-card {
    .el-card__header {
      padding: 10px;
      font-size: 14px;
    }
    .el-card__body {
      padding: 10px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
    }
  }
}